<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.PACKAGE_ACCESSIBILITY"/>

    <queries>
        <package android:name="com.google.android.apps.nexuslauncher" />
        <package android:name="ua.itaysonlab.vkx"/>
        <package android:name="ru.yandex.searchplugin"/>
        <package android:name="com.vkontakte.android" />
        <package android:name="ru.ok.android" />
        <package android:name="ru.yandex.mobile.search" />
        <package android:name="com.whatsapp" />
        <package android:name="com.instagram.android" />
        <package android:name="com.tiktok" />
        <package android:name="com.snapchat.android" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.twitter.android" />
        <package android:name="com.viber.voip" />
        <package android:name="com.skype.raider" />
        <package android:name="ru.sberbankmobile" />
        <package android:name="ru.rutube.app" />
        <package android:name="ru.mts.tv.player" />
        <package android:name="ru.tinkoff.invest" />
        <package android:name="ru.rambler.mail" />
        <package android:name="ru.ozon.app.android" />
        <package android:name="com.deliveryclub.client" />
        <package android:name="com.gorod24.online" />
        <package android:name="com.mail.ru" />
        <package android:name="ru.ivi" />
        <package android:name="ru.rencredit.mobile"/>
        <package android:name="ru.gosuslugi.egais" />
        <package android:name="com.google.android.apps.maps" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.google.android.play.games" />
        <package android:name="com.google.android.music" />
        <package android:name="com.google.android.gms" />
        <package android:name="com.google.android.apps.photos" />
        <package android:name="com.google.android.apps.docs" />
        <package android:name="com.google.android.gm" />
        <package android:name="com.google.android.keep" />
        <package android:name="com.google.android.calculator" />
        <package android:name="com.google.android.apps.translate" />
        <package android:name="com.google.android.apps.messaging" />
        <package android:name="com.drive2" />
        <package android:name="ru.alfabank.mobile.android" />
        <package android:name="ru.vtb24.mobilebanking" />
        <package android:name="ru.homecredit.regapp" />
        <package android:name="ru.magnit.app" />
        <package android:name="ru.s7.android" />
        <package android:name="ru.vtb" />
        <package android:name="ru.tcsbank.mobile" />
        <package android:name="ru.citadele" />
        <package android:name="ru.gazprombank.mobile" />
        <package android:name="ru.pochtabank.mobile" />
        <package android:name="ru.binbank" />
        <package android:name="ru.raiffeisen" />
        <package android:name="ru.openbank.mobile" />
        <package android:name="ru.acapella.groupme.client.android" />
        <package android:name="ru.avito.avito" />
        <package android:name="ru.domofond.app" />
        <package android:name="com.wildberries.ru" />
        <package android:name="ru.reformal.reformal" />
        <package android:name="ru.eldorado" />
        <package android:name="ru.hh.android" />
        <package android:name="ru.leroymerlin.mobile" />
        <package android:name="ru.metro.market" />
        <package android:name="ru.mvideo.app" />
        <package android:name="ru.praktiker" />
        <package android:name="ru.rivegauche" />
        <package android:name="ru.rozetka" />
        <package android:name="ru.technopark" />
        <package android:name="ru.vsk" />
        <package android:name="ru.x5.retailgroup.mobile" />
        <package android:name="ru.yandex.taxi" />
        <package android:name="ru.maxilevich.malcolm.reader" />
        <package android:name="ru.calcifer.simplegallery" />
        <package android:name="ru.kinopoisk" />
        <package android:name="ru.mail.games.android" />
        <package android:name="ru.mail.my" />
        <package android:name="ru.mail.napster" />
        <package android:name="ru.mail.weather" />
        <package android:name="ru.redmadrobot.chronos" />
        <package android:name="ru.gismeteo.gismeteo" />
        <package android:name="ru.kaspersky.qrscanner" />
        <package android:name="ru.mail.sport" />
        <package android:name="ru.megafon.mobile.android" />
        <package android:name="ru.moscowmetro.metro" />
        <package android:name="ru.oneclickaway.joyride.android" />
        <package android:name="ru.rzd.pass.rzdpass" />
        <package android:name="ru.uber" />
        <package android:name="ru.delivery" />
        <package android:name="ru.glovo" />
        <package android:name="com.lamoda" />
        <package android:name="com.championat.android" />
        <package android:name="com.citymobil" />
        <package android:name="com.dodopizza.app" />
        <package android:name="com.eapteka" />
        <package android:name="com.flixbus.flixmobility" />
        <package android:name="com.ivi.ru" />
        <package android:name="com.kfc.android" />
        <package android:name="com.lenta" />
        <package android:name="com.menu.yandex" />
        <package android:name="com.nornickel.messenger" />
        <package android:name="com.ozon.app.android" />
        <package android:name="com.pandao.android" />
        <package android:name="com.tcsbank.mb" />
        <package android:name="com.tripster" />
        <package android:name="com.wk.fc" />
        <package android:name="com.yandex.browser" />
        <package android:name="com.yandex.disk" />
        <package android:name="com.yandex.mail" />
        <package android:name="com.yandex.maps" />
        <package android:name="com.yandex.music" />
        <package android:name="com.yandex.taximeter" />
        <package android:name="com.yandex.zen" />
        <package android:name="ru.alfastrah.app" />
        <package android:name="ru.aviasales" />
        <package android:name="ru.bspb.banking" />
        <package android:name="ru.creditbankplus.mobile" />
        <package android:name="ru.drom.android" />
        <package android:name="ru.ecwid.android" />
        <package android:name="ru.evotor" />
        <package android:name="ru.kapibara.megafonfs" />
        <package android:name="ru.kolesa" />
        <package android:name="ru.mercuryo.app" />
        <package android:name="ru.mvideo.mvideomarket" />
        <package android:name="ru.nsu.ccfit.zuev.osuclient" />
        <package android:name="ru.prime.video" />
        <package android:name="ru.rambler.android.launcher" />
        <package android:name="ru.rencredit.frankie" />
        <package android:name="ru.sberbank" />
        <package android:name="ru.smartdelivery.client" />
        <package android:name="ru.strelkacard" />
        <package android:name="ru.tutu.main" />
        <package android:name="ru.vodafone.redbox" />
        <package android:name="ru.weblancer.mobile" />
        <package android:name="ru.wildjam.minoritygame" />
        <package android:name="ru.wylsa.App" />
        <package android:name="ru.yandex.education" />
        <package android:name="ru.yandex.metro" />
        <package android:name="ru.yandex.mobile.authenticator" />
        <package android:name="ru.yandex.mobile.colorpicker" />
        <package android:name="ru.yandex.mobile.realty" />
        <package android:name="ru.yandex.money" />
        <package android:name="ru.yota.android" />
        <package android:name="com.badoo.mobile" />
        <package android:name="com.burgerking.app" />
        <package android:name="com.booking" />
        <package android:name="com.cian" />
        <package android:name="com.deliveryhero.foodpanda.consumer" />
        <package android:name="com.dodopizzadev.app" />
        <package android:name="com.egarage.auto24" />
        <package android:name="com.giphy.messenger" />
        <package android:name="com.hily.android" />
        <package android:name="com.joom" />
        <package android:name="com.lafitness.lafitnessmobile" />
        <package android:name="com.midem.live" />
        <package android:name="com.nike.ntc" />
        <package android:name="com.nike.snkrs" />
        <package android:name="com.onetwotrip" />
        <package android:name="com.pizzahut.android" />
        <package android:name="com.qiwi.wallet" />
        <package android:name="com.rainbowriders.kids" />
        <package android:name="com.sberbankmobile" />
        <package android:name="com.shazam.android" />
        <package android:name="com.spotify.music" />
        <package android:name="com.studio.waveit" />
        <package android:name="com.tophatter" />
        <package android:name="com.tripadvisor.tripadvisor" />
        <package android:name="com.upsellit.moshcam" />
        <package android:name="com.ustwo.monumentvalley2" />
        <package android:name="com.voyagegroup.yelp.android" />
        <package android:name="com.workout.daily" />
        <package android:name="com.xiaomi.hm.health" />
        <package android:name="org.telegram.messenger" />
        <package android:name="ru.alfastrah.insurance" />
        <package android:name="ru.avtovzglyad.zkdroid" />
        <package android:name="ru.badoo.Mamba" />
        <package android:name="ru.cian.main" />
        <package android:name="ru.drom.app" />
        <package android:name="ru.fonar" />
        <package android:name="ru.foodfox" />
        <package android:name="ru.gpssputnik" />
        <package android:name="ru.grabtaxi.passenger" />
        <package android:name="ru.homecredit.mobile" />
        <package android:name="ru.intesco" />
        <package android:name="ru.itlogic.mycity" />
        <package android:name="ru.javabegin.training" />
        <package android:name="ru.komandaplus.taxi" />
        <package android:name="ru.lawbot" />
        <package android:name="ru.mail.vesti" />
        <package android:name="ru.millenniumbank.mobile" />
        <package android:name="ru.mobility.android" />
        <package android:name="ru.nurunner" />
        <package android:name="ru.ozon.app.android.dev" />
        <package android:name="ru.ozon.travel" />
        <package android:name="ru.perekrestok" />
        <package android:name="ru.promedie.mobile" />
        <package android:name="ru.quwi" />
        <package android:name="ru.rbc.news" />
        <package android:name="ru.realweb.voice" />
        <package android:name="ru.rosbank.mobile" />
        <package android:name="ru.rybakovsolutions.Skyline" />
        <package android:name="ru.sberbank.messenger" />
        <package android:name="ru.sberbankonline" />
        <package android:name="ru.strygin.android" />
        <package android:name="ru.takemethere.app" />
        <package android:name="ru.taximaster.client" />
        <package android:name="ru.tinkoff.business" />
        <package android:name="ru.tricolor.tvcontroller" />
        <package android:name="ru.tutu.tutuandroid" />
        <package android:name="ru.urbanlab.brighter" />
        <package android:name="ru.utair.android" />
        <package android:name="ru.vtb24.mobile" />
        <package android:name="ru.wowworks" />
        <package android:name="ru.yellowwiz.apps" />
        <package android:name="ru.yo" />
        <package android:name="ru.youdrive.today" />
        <package android:name="ru.zenmoney.android" />
        <package android:name="com.battlebit.tapdefenders" />
        <package android:name="com.brightstarcorp.mobileprotect" />
        <package android:name="com.burgerking.china" />
        <package android:name="com.capitalonline.mobile" />
        <package android:name="com.cleverpumpkin.MonsterCrafter" />
        <package android:name="com.desertoperations" />
        <package android:name="com.dodo.app" />
        <package android:name="com.dodopizzadev.sysadmin" />
        <package android:name="com.ezappx.web" />
        <package android:name="com.facemoji.lite" />
        <package android:name="com.filmix.filmixhd" />
        <package android:name="com.gooptic" />
        <package android:name="com.google.android.apps.village.boond" />
        <package android:name="com.grabtaxi.passenger.beta" />
        <package android:name="com.handyman.app" />
        <package android:name="com.hilton.android.hhonors" />
        <package android:name="com.hpbr.bosszhipin" />
        <package android:name="com.igottalent" />
        <package android:name="com.intel.bluetoothdevdashboard" />
        <package android:name="com.isurepay" />
        <package android:name="com.itravel.aus" />
        <package android:name="com.jinshisong.client" />
        <package android:name="com.kaspersky.safekids.android.parent" />
        <package android:name="com.kayak.android" />
        <package android:name="com.kgfsl.forumapp" />
        <package android:name="com.learnwithmango" />
        <package android:name="com.lftechnology.lgtalk" />
        <package android:name="com.mcdonalds.gma.hkdelivery" />
        <package android:name="com.mediafy.android.drumpads24" />
        <package android:name="com.medtronic.loop" />
        <package android:name="com.menulog" />
        <package android:name="com.mobileiron" />
        <package android:name="com.mobility.msf" />
        <package android:name="com.mytaxi.driver" />
        <package android:name="com.naviants.imc" />
        <package android:name="com.neuralprisma" />
        <package android:name="com.newsblur" />
        <package android:name="com.nianticlabs.pokemongo" />
        <package android:name="com.nike.ntc.NTC" />
        <package android:name="com.offermann.android.fahrplan" />
        <package android:name="com.opentrends.netatmo" />
        <package android:name="com.pattaya.market.android" />
        <package android:name="com.paypal.ca" />
        <package android:name="com.perfectcorp.youcamfun" />
        <package android:name="com.philips.lighting.hueapp" />
        <package android:name="com.plantix" />
        <package android:name="com.prime.music" />
        <package android:name="com.pushbullet.android" />
        <package android:name="com.quora.android" />
        <package android:name="com.rakuten.tech.mobile.apprunner.android.demoapp" />
        <package android:name="com.repairfix.customerapp" />
        <package android:name="com.runtastic.android" />
        <package android:name="com.samsung.aasaservice" />
        <package android:name="com.saucey" />
        <package android:name="com.scandit.barcodescanner" />
        <package android:name="com.seatguru" />
        <package android:name="com.shopee.th" />
        <package android:name="com.shopkick.app" />
        <package android:name="com.sofaking.titaniumbackuppro" />
        <package android:name="com.stackexchange.marvin" />
        <package android:name="com.starwood.hotels" />
        <package android:name="com.stocardapp" />
        <package android:name="com.strava" />
        <package android:name="com.sunrise" />
        <package android:name="com.superbright.superbright" />
        <package android:name="com.swiggy.customerapp" />
        <package android:name="com.ted.android" />
        <package android:name="com.tesco.sample" />
        <package android:name="com.thelevelup.central" />
        <package android:name="com.thetrainline" />
        <package android:name="com.thermofisher.tmxmobile" />
        <package android:name="com.tinder" />
        <package android:name="com.todolist.taskreminder" />
        <package android:name="com.truecaller" />
        <package android:name="com.twitter.android" />
        <package android:name="com.ubercab" />
        <package android:name="com.ulta" />
        <package android:name="com.vanguard" />
        <package android:name="com.viber.voip" />
        <package android:name="com.videolan.vlc" />
        <package android:name="com.vinted" />
        <package android:name="com.vismaadvantage.mobile" />
        <package android:name="com.walmart.android" />
        <package android:name="com.watchmaster.WatchMaster" />
        <package android:name="com.weathernetwork" />
        <package android:name="com.weebly.android" />
        <package android:name="com.whatsapp" />
        <package android:name="com.yelp.android" />
        <package android:name="com.youversion" />
        <package android:name="com.zoetis.client" />
    </queries>

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hakaton6"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service android:name=".MyAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:label="@string/accessibility_service_label"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

    </application>


</manifest>